
$dark_primary_color: #383838;
$dark_tertiary_color: #000000;

$light_primary_color: #ffffff;
$light_secondary_color: #5f4438;
$light_tertiary_color: #cecece;

$gradient_start_color: #563d35;
$gradient_stop_color: #2d2825;

$orange_action_color: #fd401f;

$transparent_dark_color: rgba(255,255,255,0);